/**Seção de tags**/
body {
    margin: 0px;
    text-align: center;
}

h1 {
    margin: 0 auto;
}

/**Seção de classes**/

.top-container {
    background-color: #27374D;
    position: relative;
    padding-top: 100px;
}

.nome {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 500%;
    font-weight: 700;
}

.textoCabeçalho {
    font-family: "JetBrains Mono", monospace;
    color: white;
}

.celebro-tech1 {
    position: absolute;
    top: 2%;
    right: 2%;
}

.efeito {
    text-decoration: underline;
}

.celebro-tech2 {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.pulsar {
    animation: animaçãoTítulo 1s linear infinite;
}

/**Animações**/

@keyframes animaçãoTítulo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
